@using Warehouse.DAL.Entities
@model IEnumerable<Warehouse.Web.ViewModels.ShopViewModel>
@{
    ViewBag.Title = "Home Page";
}
<div class="gap-60"></div>
<div>

    <div class="row">
        <div class="col-md-6">
            <h3>Our retail shops</h3>
            <table id="shopsTable" class="table table-hover">
                <tr>
                    <th>Title</th>
                    <th>Address</th>
                    <th>Shedule</th>
                    <th></th>
                </tr>
                @foreach (var shop in Model) {
                    <tr data-shop-id="@shop.Id">
                        <td id="title">@shop.Title</td>
                        <td id="address">@shop.Address</td>
                        <td id="schedule">@shop.Schedule</td>
                        <td>
                            <a class="js-project-ref" href="#" title="Show products in the shop">
                                <i class="glyphicon glyphicon-circle-arrow-right"></i>
                            </a>
                        </td>
                    </tr>
                }
            </table>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createShopModal">Add shop</button>

        </div>
        <div class="col-md-5 col-md-offset-1">
            <div id="productsContainer">

            </div>
        </div>
    </div>
</div>

@*Modal Window*@
<div class="modal fade" id="createShopModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="createProjectLable">Create shop</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="shop-title" class="control-label">Title:</label>
                        <input type="text" class="form-control" id="shop-title">
                    </div>
                    <div class="form-group">
                        <label for="shop-address" class="control-label">Address:</label>
                        <textarea class="form-control" id="shop-address"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="shop-shedule" class="control-label">Shedule:</label>
                        <textarea class="form-control" id="shop-shedule"></textarea>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('.js-project-ref').click(function (e) {
                e.preventDefault();
                var link = $(e.target);
                var trShop = link.parents('tr');
                var shopId = trShop.attr('data-shop-id');
                var shopTitle = trShop.find('#title').text();
                ProductController.showProductsTable(shopId, shopTitle);

            });
            $('#createShopModal').on('show.bs.modal',
                function (event) {
                    var button = $(event.relatedTarget); // Button that triggered the modal
                    var recipient = button.data('whatever'); // Extract info from data-* attributes
                    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                    var modal = $(this);
                    modal.find('.modal-title').text('Create shop');
                    modal.find('.modal-body input').val(recipient);
                });

        });
    </script>
}