html, body { height: 100%; }
body {
    padding-top: 50px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size:16px;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
}

.gap-40 {
     height: 40px;
}

.wrapper {
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -50px;
    min-height: 100%;
    /* Pad bottom by footer height */
    padding: 0 0 50px;
}

.footer {
    height: 50px;
    background-color: #eeeeee;
}